.section-team{
	background-color: rgba(231, 241, 248, 1);
	color: rgba(60, 71, 97, 1);
}
.team img{
	margin-bottom: 20px;
}
.team-item h3 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
}
.team h5 {
    color: rgba(47, 185, 231, 1);
    margin-bottom: 20px;
}
.team-item p{
	    margin: 0 auto;
    max-width: 200px;
    line-height: 15px;
    font-weight: 100;
    font-size: 15px;
    padding: 0;
}
.team-item ul{
	    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 15px;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.team-item ul li{
	margin: 0;
	margin-left: 10px;
}